body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.hotel-form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}

.hotel-form label {
    display: block;
    margin: 10px 0 5px;
}

.hotel-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}

.hotel-form button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px 0 0 27.5%;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.hotel-form button:hover {
    background-color: #45a049;

}

.back-link {
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    align-items: center;
    background-color:#007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-link:hover {
    text-decoration: none;
    background-color: #0056b3;
}
