<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Hoteles</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1 th:text="${titulo}"></h1>

<!-- Botón para crear un nuevo hotel -->
<a href="/web/new" class="create-button">Crear Nuevo Hotel</a>

<ul>
    <li th:each="hotel:${hoteles}">
        <a th:href="@{'/web/'+${hotel._id}}">
            <h4 th:text="${hotel.nombre}"></h4>
            <p><strong>Ciudad:</strong> <span th:text="${hotel.ciudad}"></span></p>
            <p><strong>País:</strong> <span th:text="${hotel.pais}"></span></p>
            <p><strong>Estrellas:</strong> <span th:text="${hotel.estrellas}"></span> estrellas</p>
            <p><strong>Precio por noche:</strong> <span th:text="${hotel.precioPorNoche}"></span>€</p>
            <p><strong>Teléfono:</strong> <span th:text="${hotel.telefono}"></span></p>
        </a>
    </li>
</ul>

</body>
</html>